/*html, body {
    height: 100%;
    margin: 0 !important;
    padding: 0 !important;
    width: 100%;
}*/

#container {
    height: 100%;
    position: relative;
    width: 100%;
}

    #container canvas, #overlay {
        position: absolute;
    }

label {
    color: white
}
